@import './base.css';
@import url(https://fonts.bunny.net/css?family=inter:500|poppins:500);

* {
  @apply transition-all m-0 p-0 box-border;
}

html {
  scroll-behavior: smooth;
  background-color: #ffa640;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #5f4040 #fff;
  border-radius: 20px;
}

/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}
